In [1]:
CREATE TABLE billing (
  billing_id VARCHAR(5),
  customer_id INT,
  customer_name VARCHAR(10),
  billing_creation_date DATE,
  billed_amount DECIMAL(10, 2)
);

In [2]:
INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id1', 1, 'A', '10-10-2020', 100);

INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id2', 1, 'A', '11-11-2020', 150);

INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id3', 1, 'A', '12-11-2021', 100);
INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id4', 2, 'B', '10-11-2019', 150);

INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id5', 2, 'B', '11-11-2020', 200);

INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id6', 2, 'B', '12-11-2021', 250);
INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id7', 3, 'C', '01-01-2018', 100);

INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id8', 3, 'C', '05-01-2019', 250);

INSERT INTO billing (billing_id, customer_id, customer_name, billing_creation_date, billed_amount)
VALUES ('id9', 3, 'C', '06-01-2021', 300);

In [1]:
WITH cte AS
    (SELECT customer_id, customer_name
    , SUM (CASE WHEN to_char(billing_creation_date, 'yyyy') = '2019' then billed_amount ELSE 0 END)::DECIMAL AS sum_2019
    , SUM (CASE WHEN to_char(billing_creation_date, 'yyyy') = '2020' then billed_amount ELSE 0 END)::DECIMAL AS sum_2020
    , SUM (CASE WHEN to_char(billing_creation_date, 'yyyy') = '2021' then billed_amount ELSE 0 END)::DECIMAL AS sum_2021
    , COUNT(CASE WHEN to_char(billing_creation_date, 'yyyy') = '2019' then billed_amount ELSE NULL END) AS cnt_2019
    , COUNT(CASE WHEN to_char(billing_creation_date, 'yyyy') = '2020' then billed_amount ELSE NULL END) AS cnt_2020
    , COUNT(CASE WHEN to_char(billing_creation_date, 'yyyy') = '2021' then billed_amount ELSE NULL END) AS cnt_2021
    FROM billing
    GROUP BY customer_id, customer_name)
SELECT customer_id, customer_name
, ROUND((sum_2019+sum_2020+sum_2021)/
  (CASE WHEN cnt_2019=0 THEN 1 ELSE cnt_2019 END
  + CASE WHEN cnt_2020=0 THEN 1 ELSE cnt_2020 END
  + CASE WHEN cnt_2021=0 THEN 1 ELSE cnt_2021 END
  ) ,2)as avg_bill_amount
FROM cte 
ORDER BY 1

customer_id,customer_name,avg_bill_amount
1,A,87.50
2,B,200.00
3,C,183.33